body {
    width: 700px;
    margin: 0px auto;
    background-color: #f8f8f8;
}

.box1 {
    height: 360px;
    padding: 18px;
}

.box1 img {
    float: left;
    width: 176px;
    height: 295px;
    margin: 36px 32px;
    background-size: cover;
}
li a:hover {
    color: blue;
}

.box1 .descripion {
    float: right;
    width: 318px;
    padding: 14px 40px;
}

.box1 .descripion .name {
    font: bold 20px/30px "youyuan";
}

.box1 .descripion ul li {
    font: 18px/28px "youyuan";
}

.box2 {
    overflow: hidden;
    padding: 30px 20px;
}

.box2 .title {
    font: 35px/50px "youyuan";
    margin: 20px 30px;
}

.box2 span {
    display: inline-block;
    font: 20px/26px "youyuan";
    box-shadow: 5px 4px 5px #000;
    background-color: #fff;
    border-radius: 10px 20px;
    padding: 7px 24px;
    margin: 13px 100px;
}


